body {
    --background-color: #F2F2F6;
    --white: #fff;
    overflow-y: scroll;
}

.outter {
    width: calc(80vw - 36px);
    margin: 104px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
}

.intro {
    width: calc(40% - 80px);
}

.intro>div {
    color: var(--gray);
    font-size: 1rem;
    line-height: 1.5rem;
}

.container {
    width: 50%;
    background-color: var(--white);
    border-radius: 16px;
    padding: 40px;
    -webkit-box-shadow: 17px 20px 40px #5f5f5f36;
    box-shadow: 17px 20px 40px #5f5f5f36;
}

.border {
    padding: 8px 16px;
    border: 1px solid var(--gray);
    border-radius: 16px;
    margin-bottom: 16px;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.radio input {
    display: none;
}

.radio label {
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--gray);
}

.radio input.checked+label {
    background-color: var(--first-color);
    color: #000;
}

.input-group {
    position: relative;
    padding-top: 1rem;
    width: 100%;
    cursor: text;
    display: flex;
    flex-direction: column;
}

.input-group input[type="text"],
.input-group .college {
    height: 1rem;
}

.input-group .college {
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group textarea {
    width: 100%;
    line-height: 1rem;
    border: none;
    padding: 0;
    outline: 0;
    font-size: 1rem;
    display: block;
    align-self: flex-end;
}

.input-group input[type="text"]+.label,
.input-group .textareaComponent+.label {
    position: absolute;
    top: 0.5rem;
    left: 0;
    font-size: 1rem;
    color: var(--gray);
    transition: all 0.1s linear;
}

.input-group input[type="number"] {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
}

.input-group input[type="number"]+.label,
.input-group .college+.label {
    position: absolute;
    top: 0;
    color: var(--gray);
    font-size: 0.5rem;
}

.input-group input[type="text"]:is(:focus, :not(:placeholder-shown))+.label,
.input-group .textareaComponent.focus+.label {
    top: 0;
    font-size: 0.5rem;
}

.input-group pre {
    display: block;
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
}

.input-group .note {
    font-size: 0.3rem;
    color: #00000060;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    padding: 8px 16px;
    border-radius: 16px;
    background-color: var(--black-06dp);
    border: 2px solid transparent;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

input[type="checkbox"]:checked+label {
    border-color: var(--fourth-color);
    background-color: rgba(var(--fourth-color-rgb), 24%);
}

.container .btn {
    margin-top: 16px;
    max-width: unset;
}

.noClassName .className,
.noTeacher .teacher,
.noDepartment .department {
    border-color: var(--red);
}

.success {
    width: 100%;
    height: calc(100vh - 288px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--green);
    letter-spacing: 1rem;
    font-size: 1.5rem;
}

.success svg {
    fill: var(--green);
    margin-bottom: 1rem;
}

.input-group .college label {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.input-group .college input[type="radio"] {
    visibility: hidden;
    position: relative;
    margin-right: 0.5rem;
}

.input-group .college input[type="radio"]::before {
    display: block;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.3rem;
    outline: 0.1rem solid var(--fourth-color);
    outline-offset: 0.2rem;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: all 0.3s;
    visibility: visible;
}

.input-group .college input[type="radio"]:checked::before {
    background-color: var(--fourth-color);
}

@media screen and (max-width:850px) {
    .outter {
        width: calc(100% - 68px);
        flex-direction: column;
    }

    .intro {
        width: 100%;
    }

    .container {
        margin-top: 5%;
        width: calc(100% - 32px);
        padding: 16px;
    }
}