body {
    --background-color: var(--white);
}

#main,
#menu {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem #00000013;
}

#menu {
    width: 280px;
    height: calc(100vh - 104px - 104px - 40px);
    position: fixed;
    top: 104px;
    left: 10vw;
    transition: all 0.3s;
    padding: 20px;
}

#menu+.cover {
    display: none;
}

#menu .close {
    display: none;
}

#menu .close svg {
    width: 25px;
    height: 25px;
    fill: var(--black);
}

#menu .collapse-scroll {
    height: calc(100% - 50px);
    overflow-y: auto;
}

#menu .collapse-scroll>* {
    height: calc(1rem + 55px);
    overflow: hidden;
}

#menu .collapse-scroll>*.open {
    height: auto;
}

.collapse-label {
    background-color: var(--second-color);
    border-radius: 10px;
    color: var(--white);
    margin: 0 auto 15px auto;
    cursor: pointer;
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
}

.collapse-label svg {
    margin-left: auto;
    height: 1rem;
    width: 1rem;
    fill: var(--white);
    transform: rotateX(180deg);
    transition: all 0.3s;
}

.collapse-label.open svg {
    transform: rotateX(0);
}

.collapse-area {
    width: calc(80% - 20px);
    padding: 0 20px;
    margin: 15px auto;
    transform: scaleY(0);
    transition: all 0.3s;
    transform-origin: top center;
}

#menu .collapse-scroll>*.open .collapse-area {
    transform: scaleY(1);
}

.collapse-area .college-link {
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
    position: relative;
    display: block;
    color: var(--black);
    text-decoration: none;
}

.collapse-area .college-link::before {
    position: absolute;
    left: -20px;
    top: 0;
    height: 100%;
    width: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    background-color: var(--first-color);
    opacity: 0;
    transition: all 0.3s;
}

.collapse-area .college-link:hover::before {
    opacity: 1;
}

#menu_btn {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: var(--white);
    box-shadow: 0 5px 15px var(--black-06dp);
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

#menu_btn svg {
    width: 30px;
    height: 30px;
    fill: var(--black);
}

#main {
    padding: 5vh 0;
    width: calc(75vw - 300px);
    min-height: calc(100vh - 104px - 104px - 10vh);
    margin: 0 10vw 0 auto;
    transform: translateY(104px);
}

.search-bar {
    width: 80%;
    height: 1rem;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: var(--black-06dp);
    border-radius: 999px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: text;
}

.search-bar input {
    width: calc(90% - 1rem);
    height: 1rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1rem;
}

.search-bar svg {
    width: 1rem;
    height: 1rem;
}

.block {
    width: 80%;
    padding: 2vh 0;
    margin: 0 auto;
    --green: #0DCF00;
    --yellow: var(--first-color);
    --red: #FE0002;
}

.block .evaluation {
    white-space: pre-line;
    width: 100%;
}

.block.hidden {
    display: none;
}

.block>* {
    margin-top: 10px;
    display: block;
}

.block .className {
    font-weight: 700;
    font-size: 1.2rem;
}

.block .date {
    text-align: right;
    font-size: 0.8rem;
}

.block hr {
    border-top: 1px solid #f1f1f1;
}

.block .teacher>* {
    color: var(--black);
    margin-right: 1rem;
}

.block .point-progress {
    width: 100%;
    display: flex;
    align-items: center;
}

.block .point-progress .point-progress-bar {
    width: calc(100% - 5rem);
    height: 4px;
    border-radius: 99px;
    background-color: var(--black-06dp);
}

.block .point-progress .point-progress-bar-value {
    height: 100%;
    width: 100%;
    transform-origin: left;
    transition: all 0.3s;
    border-radius: 99px;
}

.block .point-progress .point-progress-text {
    margin-left: 1rem;
    font-weight: 800;
}

.block .exam {
    display: flex;
    flex-wrap: wrap;
}

.block .exam>* {
    padding: 3px 8px;
    border: 1px solid var(--fourth-color);
    border-radius: 99px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    color: var(--fourth-color);
    line-height: 1rem;
}

@media screen and (max-width:600px) {
    #menu {
        width: calc(86vw - 40px);
        height: calc(86% - 40px);
        position: fixed;
        top: 7vh;
        left: 7vw;
        transition: all 0.3s;
        padding: 20px;
        overflow-y: auto;
        z-index: 99;
        display: none;
    }

    #menu+.cover {
        width: 100%;
        height: 100%;
        background-color: #00000050;
        z-index: 98;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    #menu.open {
        display: block;
    }

    #menu.open+.cover {
        display: block;
    }

    #menu .close {
        width: 25px;
        height: 50px;
        margin-left: auto;
        display: block;
    }

    #menu_btn {
        display: flex;
        z-index: 90;
    }

    #main {
        width: 86vw;
        margin: 0 auto;
        min-height: calc(100% - 104px - 104px - 10%);
    }

    .search-bar input {
        width: calc(80% - 1rem);
    }
}