#main,
.menu {
    background-color: var(--white);
    border-radius: 15px;
}

.menu {
    width: 400px;
    height: 90vh;
    position: fixed;
    top: 5vh;
    left: 7vw;
}

#main {
    width: calc(81vw - 400px);
    min-height: 90vh;
    margin: 5vh 7vw 0 auto;
}

.collapse-label {
    background-color: var(--second-color);
    border-radius: 10px;
    color: var(--white);
    margin: 15px auto;
    cursor: pointer;
    width: calc(80% - 20px);
    padding: 20px;
    display: flex;
}

.collapse-label svg {
    margin-left: auto;
    height: 1rem;
    width: 1rem;
    fill: var(--white);
    transform: rotateX(180deg);
    transition: all 0.3s;
}

.collapse-label.open svg {
    transform: rotateX(0);
}

.collapse-area {
    width: calc(80% - 20px);
    padding: 0 20px;
    margin: 15px auto;
    transform: scaleY(0);
    transform-origin: top center;
    transition: all 0.3s;
}

.collapse-area.open {
    transform: scaleY(1);
}

.collapse-area .college-link {
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
    position: relative;
    display: block;
    color: var(--black);
    text-decoration: none;
}

.collapse-area .college-link::before {
    position: absolute;
    left: -20px;
    top: 0;
    height: 100%;
    width: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    background-color: var(--first-color);
    opacity: 0;
    transition: all 0.3s;
}

.collapse-area .college-link:hover::before {
    opacity: 1;
}

#main {
    padding-top: 5vh;
}

.search-bar {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: #cfcfcf;
    border-radius: 999px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.search-bar input {
    width: calc(90% - 1rem);
    border: 0;
    outline: 0;
    background-color: transparent;
}

.search-bar svg {
    width: 1rem;
    height: 1rem;
}

.block {
    width: 80%;
    padding: 2vh 0;
    margin: 0 auto;
}

.block.hidden {
    display: none;
}

.block>* {
    margin-top: 10px;
}

.block .className {
    font-weight: 700;
    font-size: 1.2rem;
}

.block .date {
    text-align: right;
    font-size: 0.8rem;
    opacity: 0.5;
}

.block hr {
    border-top: 1px solid var(--fourth-color);
}