body {
    --background-color: var(--white);
}

#main,
.menu {
    background-color: #fff;
    border-radius: 10px;
}

.menu {
    width: 280px;
    height: calc(100vh - 104px - 104px - 40px);
    position: fixed;
    top: 104px;
    left: 10vw;
    transition: all 0.3s;
    padding: 20px;
}

.menu>* {
    height: calc(1rem + 55px);
    overflow: hidden;
}

.menu>*.open {
    height: auto;
}

.collapse-label {
    background-color: var(--second-color);
    border-radius: 10px;
    color: var(--white);
    margin: 0 auto 15px auto;
    cursor: pointer;
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
}

.collapse-label svg {
    margin-left: auto;
    height: 1rem;
    width: 1rem;
    fill: var(--white);
    transform: rotateX(180deg);
    transition: all 0.3s;
}

.collapse-label.open svg {
    transform: rotateX(0);
}

.collapse-area {
    width: calc(80% - 20px);
    padding: 0 20px;
    margin: 15px auto;
    transform: scaleY(0);
    transition: all 0.3s;
    transform-origin: top center;
}

.menu>*.open .collapse-area {
    transform: scaleY(1);
}

.collapse-area .college-link {
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
    position: relative;
    display: block;
    color: var(--black);
    text-decoration: none;
}

.collapse-area .college-link::before {
    position: absolute;
    left: -20px;
    top: 0;
    height: 100%;
    width: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    background-color: var(--first-color);
    opacity: 0;
    transition: all 0.3s;
}

.collapse-area .college-link:hover::before {
    opacity: 1;
}

#main {
    padding-top: 5vh;
    width: calc(75vw - 300px);
    min-height: calc(100vh - 104px - 104px - 5vh);
    margin: 104px 10vw 0 auto;
}

.search-bar {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: var(--black-06dp);
    border-radius: 999px;
    display: flex;
    justify-content: space-evenly;
    cursor: text;
}

.search-bar input {
    width: calc(90% - 1rem);
    border: 0;
    outline: 0;
    background-color: transparent;
}

.search-bar svg {
    width: 1rem;
    height: 1rem;
}

.block {
    width: 80%;
    padding: 2vh 0;
    margin: 0 auto;
    --green: #72D282;
    -yellow: #F2E16D;
    --red: #E47272;
}

.block .evaluation {
    white-space: pre-line;
    width: 100%;
}

.block.hidden {
    display: none;
}

.block>* {
    margin-top: 10px;
    display: block;
}

.block .className {
    font-weight: 700;
    font-size: 1.2rem;
}

.block .date {
    text-align: right;
    font-size: 0.8rem;
}

.block hr {
    border-top: 1px solid var(--black-06dp);
}

.block .teacher>* {
    color: var(--black);
    margin-right: 1rem;
}

.block .point-progress {
    width: 100%;
    display: flex;
    align-items: center;
}

.block .point-progress .point-progress-bar {
    width: calc(100% - 5rem);
    height: 2px;
    background-color: var(--black-06dp);
}

.block .point-progress .point-progress-bar-value {
    background-color: var(--green);
    height: 100%;
    width: 100%;
    transform-origin: left;
    transition: all 0.3s;
}

.block .point-progress .point-progress-text {
    margin-left: 1rem;
}