.filepond--credits {
    display: none;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: var(--green);
}

[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
    background-color: var(--red);
}