.container {
    width: 80vw;
    padding: 15vw 0;
    margin: 0 auto;
    color: var(--black);
    position: relative;
}

.block {
    margin-bottom: 10vw;
}

.radio-group {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="file"] {
    display: none;
}

label.radio {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: 2px solid rgba(var(--first-color-rgb), 0.3);
    transition: all 0.5s;
}

input[type="radio"]:checked+label {
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: var(--black);
}

.textarea-outter {
    padding: 10px;
    border-radius: 16px;
    border: 2px solid #00000010;
}

label[for="image"],
.img-item {
    display: block;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    background-color: #24242420;
    border-radius: 999px;
    position: relative;
    margin-bottom: 3vw;
    overflow: hidden;
}

.img-item .progress {
    width: 100%;
    height: 100%;
    background-color: rgba(var(--first-color-rgb), 0.3);
    transition: all 0.3s;
    transform-origin: left;
}

.img-item.done {
    color: var(--white);
}

.img-item.done .progress {
    background-color: var(--fourth-color);
}

.img-item .img-data {
    position: relative;
    top: -100%;
}

.img-item .img-block {
    width: calc(3rem - 10px);
    height: calc(3rem - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 999px;
    overflow: hidden;
}

.img-item .img-block img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#submit {
    margin-top: 20vw;
    max-width: 100%;
}

.envelope,
.envelope-body,
.envelope-cover {
    transition: all 1s ease-out;
}

.envelope {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    transform-origin: center;
    display: none;
}

.envelope-body,
.envelope-cover {
    transition: all 1s ease-in;
    height: 100%;
    position: absolute;
}

.envelope-body {
    left: -100%;
    z-index: 10;
    width: 100%;
    background-color: rgba(var(--first-color-rgb), 0.3);
}

.envelope-cover {
    width: 50%;
    right: 0;
    z-index: 11;
    transform: rotateY(90deg);
    transform-origin: right center;
}

.envelope-cover div {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    height: 100%;
    width: 100%;
    background-color: var(--first-color);
}

.filepond--credits {
    display: none !important;
}

.filepond--drop-label {
    border-radius: 16px;
}

[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
    background-color: var(--red);
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: var(--green);
}

.error,
.success {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 10vh;
}

.error {
    fill: var(--red);
    color: var(--red);
}

.success {
    fill: var(--green);
    color: var(--green);
}