body {
    overflow: hidden;
    --shadow: 0 10px 20px #00000020;
    --background-color: #F2F2F6;
    --white: #fff;
}

.header,
.setting-li {
    color: var(--black);
}

.header {
    text-align: center;
    padding: 3vh 0;
    margin: 0;
    font-size: 1rem;
}

.setting-scroll {
    display: flex;
    width: 93vw;
    margin-left: 7vw;
    overflow-x: scroll;
}

.setting-li {
    margin: 0.3rem 1rem 0.3rem 0;
    display: inline-flex;
    border-radius: 16px;
    line-height: calc(1rem + 10px);
    font-size: 1rem;
    text-decoration: none;
    color: var(--second-color);
    opacity: 0.3;
}

.setting-li.inView {
    opacity: 1;
}

.setting-li .icon {
    border: 1px solid rgba(var(--second-color-rgb), 0.6);
    padding: 5px;
    border-radius: 999px;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-li svg {
    fill: var(--second-color);
}

.setting-li .title {
    margin-left: 0.5rem;
}

.views-out {
    position: relative;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    height: calc(100vh - (1rem + 6vh) - (0.6rem + 2px + 10px + 0.8rem));
    overflow-y: auto;
}

.view.inView {
    opacity: 1;
    transition: all 0.3s;
    pointer-events: auto;
}

/* weather */

.location,
.search-bar {
    margin: 20px auto;
    width: 72vw;
    background-color: var(--white);
    box-shadow: var(--shadow);
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
}

.location {
    padding: 7vw;
    border-radius: 16px;
    border: 3px solid rgba(var(--first-color-rgb), 0);
}

.location .label>div:last-child {
    font-size: 0.8rem;
    color: var(--black-op50);
    margin-top: 0.5rem;
}

.location.checked {
    border: 3px solid var(--first-color);
    background-color: rgba(var(--first-color-rgb), 10%);
}

.search-bar {
    padding: 5vw 7vw;
    border-radius: 999px;
}

.search-bar input {
    width: 100%;
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
    outline: 0;
    border: 0;
    background-color: transparent;
}

/* eat */

.switch,
.custom-value {
    background-color: var(--white);
    padding: 5px;
    line-height: 1rem;
    font-size: 1rem;
    box-shadow: var(--shadow);
}

.switch {
    display: inline-flex;
    margin-left: 7vw;
    margin-top: 20px;
    border-radius: 999px;
}

.switch-circle {
    background-color: var(--white);
    border-radius: 999px;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
}

.switch-circle.checked {
    background-color: var(--first-color);
}

.custom-value {
    width: 72vw;
    padding: 7vw;
    margin: 20px auto;
    border-radius: 16px;
}


.input-group {
    position: relative;
    padding-top: 1rem;
    width: 100%;
    cursor: text;
    display: flex;
    flex-direction: column;
}

.input-group input[type="text"] {
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    height: 1rem;
    font-size: 1rem;
    display: block;
    align-self: flex-end;
}

.input-group input[type="text"]+.label {
    position: absolute;
    top: 0.5rem;
    left: 0;
    font-size: 1rem;
    color: var(--gray);
    transition: all 0.1s linear;
}

.input-group input[type="text"]:is(:focus, :not(:placeholder-shown))+.label {
    top: 0;
    font-size: 0.5rem;
}

.input-group .note {
    font-size: 0.3rem;
    color: #00000060;
}