.main {
    --color: #000;
}

.container {
    width: 80vw;
    padding: 15vw 0;
    margin: 0 auto;
    color: var(--black);
    position: relative;
}

.block {
    margin-bottom: 10vw;
}

.radio-group {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.radio-group input,
.block input[type="file"] {
    display: none;
}

.radio-group label {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: 2px solid rgba(var(--first-color-rgb), 0.3);
    transition: all 0.5s;
}

.radio-group input:checked+label {
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: var(--black);
}

#submit {
    margin-top: 20vw;
    max-width: 100%;
}

.error,
.success {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 10vh;
}

.error {
    fill: var(--red);
    color: var(--red);
}

.success {
    fill: var(--green);
    color: var(--green);
}