
#submit {
    margin-top: 20vw;
    max-width: 100%;
}

.filepond--credits {
    display: none !important;
}

.filepond--drop-label {
    border-radius: 16px;
}

[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
    background-color: var(--red);
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: var(--green);
}