.main {
    --block-background-color: #fff;
    background-color: var(--background-color);
    height: 100%;
    overflow: auto;
    color: var(--color);
}

.main.dark {
    --block-background-color: #272727;

    --background-color: var(--dark-background-color);
    --color: var(--dark-color);

    --first-color: var(--dark-first-color);
    --first-color-rgb: var(--dark-first-color-rgb);

    --second-color: var(--dark-second-color);
    --second-color-rgb: var(--dark-second-color-rgb);

    --fourth-color: var(--dark-fourth-color);
    --fourth-color-rgb: var(--dark-fourth-color-rgb);
}

.outer {
    width: calc(80vw - 36px);
    margin: 104px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
}

.intro {
    width: calc(40% - 80px);
}

.intro>div {
    color: var(--gray);
    font-size: 1rem;
    line-height: 1.5rem;
}

.container {
    width: 50%;
    background-color: var(--block-background-color);
    border-radius: 16px;
    padding: 40px;
    -webkit-box-shadow: 17px 20px 40px #5f5f5f36;
    box-shadow: 17px 20px 40px #5f5f5f36;
}

.border {
    padding: 8px 16px;
    border: 1px solid var(--gray);
    border-radius: 16px;
    margin-bottom: 16px;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.radio input {
    display: none;
}

.radio label {
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--gray);
}

.radio input.checked+label {
    background-color: var(--first-color);
    color: var(--black);
}

.input-group {
    position: relative;
    padding-top: 1rem;
    width: 100%;
    cursor: text;
    display: flex;
    flex-direction: column;
}

.input-group input[type="text"],
.input-group .college {
    height: 1rem;
}

.input-group input[type="text"] {
    width: 100%;
    line-height: 1rem;
    border: 0;
    padding: 0;
    outline: 0;
    font-size: 1rem;
    display: block;
    align-self: flex-end;
    background-color: transparent;
    color: var(--color);
}

.input-group input[type="text"]+.label,
.input-group *[class*="TextareaComponent"]+.label {
    position: absolute;
    top: 0.5rem;
    left: 0;
    font-size: 1rem;
    color: var(--gray);
    transition: all 0.1s linear;
    line-height: 1rem;
}

.input-group input[type="number"] {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    background-color: transparent;
    color: var(--color);
}

.input-group input[type="number"]+.label,
.input-group .college+.label {
    position: absolute;
    top: 0;
    color: var(--gray);
    font-size: 0.5rem;
}

.input-group input[type="text"]:is(:focus, :not(:placeholder-shown))+.label,
.input-group>*[class*="focus"]+.label {
    top: 0;
    font-size: 0.5rem;
}

.input-group pre {
    display: block;
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
}

.input-group .note {
    font-size: 0.3rem;
    color: var(--gray);
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group input {
    display: none;
}

.checkbox-group input+label {
    padding: 8px 16px;
    border-radius: 16px;
    border: 2px solid rgba(var(--fourth-color-rgb), 10%);
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.checkbox-group input:checked+label {
    border-color: var(--fourth-color);
    background-color: rgba(var(--fourth-color-rgb), 24%);
}

.submit {
    margin-top: 16px;
    max-width: unset;
}

.noClassName .className,
.noTeacher .teacher,
.noDepartment .department {
    border-color: var(--red);
}

.success {
    width: 100%;
    height: calc(100vh - 288px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--green);
    letter-spacing: 1rem;
    font-size: 1.5rem;
}

.success svg {
    fill: var(--green);
    margin-bottom: 1rem;
}

.col {
    width: 100%;
    display: flex;
    justify-content: center;
}

.textarea-block {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.input-group .college {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.input-group .college input[type="radio"] {
    visibility: hidden;
    position: relative;
    margin-right: 0.5rem;
}

.input-group .college input[type="radio"]::before {
    display: block;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.3rem;
    outline: 0.1rem solid var(--fourth-color);
    outline-offset: 0.2rem;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: all 0.3s;
    visibility: visible;
}

.input-group .college input[type="radio"]:checked::before {
    background-color: var(--fourth-color);
}

@media screen and (max-width:850px) {
    .outer {
        width: calc(100% - 68px);
        flex-direction: column;
    }

    .intro {
        width: 100%;
    }

    .container {
        margin-top: 5%;
        width: calc(100% - 32px);
        padding: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    /* .main {
        --block-background-color: #272727;
        --background-color: unset;
    }

    .checkbox-group input+label {
        background-color: #ffffff17;
    } */
}