.result {
    min-height: calc(100% - 104px - 104px - 40px);
    flex-grow: 1;
}

@media screen and (max-width:850px) {
    .result {
        width: 80vw;
        min-height: calc(100% - 104px - 104px - 40px);
        margin: 32px auto;
    }
}