.main {
    --block-background-color: #fff;
    background-color: var(--background-color);
    height: 100%;
    overflow: auto;
    color: var(--color);
}

.main.dark {
    --block-background-color: #272727;

    --background-color: var(--dark-background-color);
    --color: var(--dark-color);

    --first-color: var(--dark-first-color);
    --first-color-rgb: var(--dark-first-color-rgb);

    --second-color: var(--dark-second-color);
    --second-color-rgb: var(--dark-second-color-rgb);

    --fourth-color: var(--dark-fourth-color);
    --fourth-color-rgb: var(--dark-fourth-color-rgb);

    --green: var(--dark-green);
    --yellow: var(--dark-yellow);
    --red: var(--dark-red);
}

.page {
    width: 100%;
    min-height: 100%;
    padding: 104px 0;
    display: flex;
    width: 100%;
}

.block,
#menu,
.search-bar {
    background-color: var(--block-background-color);
    border-radius: 16px;
    -webkit-box-shadow: 17px 20px 40px #5f5f5f36;
    box-shadow: 17px 20px 40px #5f5f5f36;
    letter-spacing: 1px;
}

.aside {
    width: 300px;
    height: calc(100vh - 104px - 104px);
    position: sticky;
    top: 104px;
    left: 10vw;
    z-index: 101;
}

#menu {
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    position: relative;
    padding: 20px 0;
}

#menu .close {
    display: none;
}

#menu .close svg {
    width: 25px;
    height: 25px;
    fill: var(--color);
}

.collapse-scroll {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.collapse-scroll::-webkit-scrollbar {
    background-color: var(--block-background-color);
}

.year-label {
    background-color: var(--second-color);
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    transition: all 0.3s;
    transform-origin: center;
    border: none;

    width: calc(100% - 40px - 40px);
    margin: 5px 15px 5px auto;
}

.year-label:hover {
    transform: scale(1.02);
}

.year-label svg {
    margin-left: auto;
    height: 1rem;
    width: 1rem;
    fill: var(--white);
    transform: rotateZ(180deg);
    transition: all 0.3s;
}

.year-label[class*="collapsed"] svg {
    transform: rotateZ(270deg);
}

.colleges-list {
    margin: 0 calc(20px - 8px) 0 auto;
    width: calc(100% - 40px);
}

.collapse-scroll>*:last-child {
    margin-bottom: calc(32px + 1.1rem + 2rem);
}

.college-link {
    height: 2rem;
    width: calc(100% - 40px);
    line-height: 2rem;
    cursor: pointer;
    display: block;
    color: var(--color);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 8px;
    transition: all 0.3s;
}

.college-link:hover {
    background-color: var(--white);
    color: var(--black);
}

.add-btn {
    width: calc(100% - 40px);
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.menu-mobile-btn {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: var(--fourth-color);
    box-shadow: 0 5px 15px var(--black-06dp);
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 99;
}

.menu-mobile-btn svg {
    width: 30px;
    height: 30px;
    fill: var(--color);
}

.result {
    width: calc(75vw - 300px);
    min-height: calc(100% - 104px - 104px - 40px);
    margin: 0 auto;
}

.search-bar {
    width: 80%;
    height: 1rem;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--block-background-color);
    border-radius: 16px;
    display: flex;
    cursor: text;
}

.search-bar input {
    width: calc(100% - 1rem - 5px);
    margin-left: 5px;
    height: 1rem;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1rem;
    color: var(--color);
}

.search-bar svg {
    width: 1rem;
    height: 1rem;
    fill: var(--color);
}

.result.no-result .search-bar {
    opacity: 0.2;
}

.no-result-text {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.no-result-text>div:first-child {
    font-size: 1.2rem;
}

.no-result-text>div:last-child {
    font-size: 0.9rem;
    opacity: 0.5;
    margin-top: 10px;
}

.block {
    width: calc(80% - 40px);
    padding: 20px;
    margin: 40px auto 0 auto;
    transition: all 0.5s;
    transform-origin: center;
}

.block:hover {
    transform: scale(1.01);
}

.block.hidden {
    display: none;
}

.block>* {
    margin-top: 10px;
    display: block;
}

.block .title-bar {
    display: flex;
    justify-content: space-between;
}

.block .className {
    font-weight: 700;
    font-size: 1.2rem;
}

.block .mini-btn-group {
    display: flex;
}

.block .mini-btn-group>* {
    margin-left: 10px;
}

.block .title-bar svg {
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--color);
    opacity: 0.5;
    cursor: pointer;
}

.block .evaluation {
    white-space: pre-line;
    width: 100%;
}

.block .date {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.block .teacher>* {
    color: var(--color);
    margin-right: 1rem;
}

.block .point-progress {
    width: 100%;
    display: flex;
    align-items: center;
}

.block .point-progress .point-progress-bar {
    width: calc(100% - 5rem);
    height: 4px;
    border-radius: 99px;
    background-color: var(--black-06dp);
    overflow: hidden;
}

.dark .block .point-progress .point-progress-bar {
    background-color: #ffffff30;
}

.block .point-progress .point-progress-bar-value {
    height: 100%;
    width: 100%;
    transform-origin: left;
    transition: all 0.3s;
    border-radius: 99px;
}

.block .point-progress .point-progress-text {
    margin-left: 1rem;
    font-weight: 800;
}

.block .exam {
    display: flex;
    flex-wrap: wrap;
}

.block .exam>* {
    padding: 5px 12px;
    border: 1px solid var(--fourth-color);
    border-radius: 99px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    color: var(--fourth-color);
    background-color: rgba(var(--fourth-color-rgb), 15%);
}

.revelation {
    display: flex;
    flex-direction: column;
}

.revelation label {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.revelation input[type="radio"] {
    visibility: hidden;
    position: relative;
    margin-right: 0.5rem;
}

.revelation input[type="radio"]::before {
    display: block;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.3rem;
    outline: 0.1rem solid var(--fourth-color);
    outline-offset: 0.2rem;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: all 0.3s;
    visibility: visible;
}

.revelation input[type="radio"]:checked::before {
    background-color: var(--fourth-color);
}

.success {
    width: 100%;
    height: calc(100vh - 288px);
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--green);
    letter-spacing: 1rem;
    font-size: 1.5rem;
}

.success svg {
    fill: var(--green);
    margin-bottom: 1rem;
}

@media screen and (max-width:850px) {
    .aside {
        position: fixed;
        top: 7vh;
        left: 7vw;
        width: 86vw;
        height: calc(86% - 40px);
        display: none;
    }

    .aside.open {
        display: flex;
    }

    .aside.open #menu+.cover {
        display: block;
    }

    #menu {
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        padding: 20px;
        overflow-y: auto;
        z-index: 101;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #menu .close {
        width: 25px;
        height: 25px;
        margin-left: auto;
        display: block;
    }

    .collapse-scroll {
        width: calc(100% - 10px);
        padding: 5px;
    }

    .year-label:hover {
        transform: scale(1);
    }

    .add-btn {
        width: calc(100% - 40px);
        max-width: 100%;
        bottom: 20px;
        left: 20px;
    }

    .menu-mobile-btn {
        display: flex;
        z-index: 90;
    }

    .result {
        width: 86vw;
        min-height: calc(100% - 104px - 104px - 40px);
    }

    .search-bar {
        width: calc(100% - 40px);
    }

    .block {
        width: calc(100% - 40px);
    }

    .block:hover {
        transform: scale(1);
    }
}