.footer {
    width: 73.6%;
    height: 80vh;
    padding: 10vh 13.2%;
    position: relative;
}

.footer>small {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    color: #aaaaaa;
}

.footer>small * {
    color: #aaaaaa;
}

.footer>div {
    display: flex;
}

.footer #team_info {
    width: 20vw;
}

.footer #page_info {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer #page_info a {
    color: #000;
    text-decoration: none;
    position: relative;
    padding-top: calc(48px - 1rem);
}

.footer #page_info a::after {
    content: '';
    width: 2em;
    height: 1px;
    background-color: #00000050;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.footer #page_info>div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
}

.footer p {
    line-height: 200%;
    margin-top: 5vh;
}

.footer img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 1px solid #00000020;
    box-shadow: 0 10px 20px #c2c2c230;
}

@media screen and (max-width:600px) {
    .footer {
        height: auto;
    }

    .footer>div {
        width: 60vw;
        flex-direction: column;
    }

    .footer #team_info {
        width: 100%;
    }

    .footer #page_info {
        margin: 8vh 0;
        width: 100%;
    }

    .footer #page_info>div {
        margin: 5vh 0;
    }
}

/* @media (prefers-color-scheme: dark) {
    .footer {
        color: var(--white);
    }

    .footer #page_info a {
        color: var(--white);
    }

    .footer #page_info a::after {
        background-color: #ffffff50;
    }
} */