:root {
  --black: #212121;
  --white: #f0f0f0;

  --first-color: #FFB11B;
  --first-color-rgb: 255, 177, 27;
  --dark-first-color: #FFB11B;
  --dark-first-color-rgb: 255, 177, 27;

  --second-color: #A78558;
  --second-color-rgb: 167, 133, 88;
  --dark-second-color: #c0ac84;
  --dark-second-color-rgb: 209, 191, 168;

  --fourth-color: #005248;
  --fourth-color-rgb: 0, 82, 72;
  --dark-fourth-color: #00BFA2;
  --dark-fourth-color-rgb: 0, 191, 162;

  --green: #65c466;
  --dark-green: #53D254;

  --yellow: var(--first-color);
  --dark-yellow: var(--first-color);

  --red: #eb4d3d;
  --dark-red: #EA4939;

  --color: var(--black);
  --dark-color: var(--white);

  --background-color: #fff;
  --dark-background-color: #121212;
}

*,
*::before,
*::after {
  box-sizing: content-box;
  transition: all 0.3s;
}

/* *:not(body)::-webkit-scrollbar {
  display: none;
} */

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: var(--background-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border-radius: 10px;
}

html,
body,
body>*,
body>*>* {
  height: 100%;
  width: 100%;
}

.btn {
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: 288px;
  padding: 1rem 2rem;
  border-radius: 999px;
  box-sizing: border-box;
  transition: all .2s cubic-bezier(.48, 0, .75, .72) 0s;
  outline: 0;
  border: 0;
  font-size: 1.1rem;
  transition: all 0.3s;
}

.btn-second {
  background: var(--second-color);
  color: var(--color);
}

.btn-second:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04)), var(--second-color);
}

.btn-first {
  background: var(--first-color);
  color: var(--color);
}

.btn-first:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04)), var(--first-color);
}

.btn:disabled {
  opacity: 0.3;
}

.btn:focus-visible {
  color: inherit;
  background-color: inherit;
  outline: 0;
}