:root {
  --first-color: #FFB11B;
  --first-color-rgb: 255, 177, 27;
  --second-color: #A78558;
  --second-color-rgb: 167, 133, 88;
  --fourth-color: #005248;

  --background-color: #fff;
  --black: #242424;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track-piece,
*::-webkit-scrollbar-thumb {
  display: none;
}

.btn {
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: 288px;
  padding: 1rem 2rem;
  border-radius: 999px;
  box-sizing: border-box;
  transition: all .2s cubic-bezier(.48, 0, .75, .72) 0s;
  outline: 0;
  border: 0;
  font-size: 1.1rem;
}

.btn-second {
  background: var(--second-color);
  color: var(--white);
}

.btn-second:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04)), var(--second-color);
}

.btn-first {
  background: var(--first-color);
  color: var(--white);
}

.btn-first:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04)), var(--first-color);
}

.btn:disabled {
  opacity: 0.3;
}