@import "tailwindcss";
/* Note: You may need to change the path to fit your project structure */
@config "../tailwind.config.js";

:root {
  --black: #212121;
  --black-rgb: 33, 33, 33;
  --white: #f0f0f0;
  --white-rgb: 240, 240, 240;

  --daily-primary-color: 249, 184, 16;
  --dark-first-color: #F9B810;
  --dark-first-color-rgb: 249, 184, 16;

  --second-color: #8E7568;
  --second-color-rgb: 142, 117, 104;
  --dark-second-color: #b1a093;
  --dark-second-color-rgb: 177, 160, 147;

  --fourth-color: #808134;
  --fourth-color-rgb: 128, 129, 52;
  --dark-fourth-color: #bab861;
  --dark-fourth-color-rgb: 186, 184, 97;

  --green: #65c466;
  --dark-green: #53D254;

  --yellow: var(--daily-primary-color);
  --dark-yellow: var(--daily-primary-color);

  --red: #EB4D3D;
  --dark-red: #D53334;

  --color: var(--black);
  --color-rgb: var(--black-rgb);
  --dark-color: var(--white);
  --dark-color-rgb: var(--white-rgb);

  --background-color: #fff;
  --dark-background-color: #121212;

  --black-opacity: #E3E3E8;
  --white-24dp: #ffffff29;
  --black-06dp: #0000001c;
  /*  --gray: #767679; */
}

*,
*::before,
*::after {
  transition: background-color 0.3s;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

/* For Firefox */
* {
  scrollbar-color: hsl(var(--nextui-primary) / 1) hsl(var(--nextui-background) / 1);
  scrollbar-width: 8px;
}

/* For Chrome */
*::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(var(--nextui-background) / 1);
}

*::-webkit-scrollbar-track {
  width: 8px;
  background-color: hsl(var(--nextui-background) / 1);
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--nextui-primary) / 1);
  border-radius: 10px;
  width: 8px;
}

/* .my-btn {
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: 288px;
  padding: 1rem 2rem;
  border-radius: 999px;
  box-sizing: border-box;
  transition: background .2s cubic-bezier(.48, 0, .75, .72) 0s;
  outline: 0;
  border: 0;
  font-size: 1.1rem;
}

.my-btn-second {
  background: var(--second-color);
  color: var(--black);
}

.my-btn-second:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04)), var(--second-color);
}

.my-btn-first {
  background: rgb(var(--daily-primary-color));
  color: var(--color);
}

.my-btn-first:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04)), rgb(var(--daily-primary-color));
}

.my-btn:disabled {
  opacity: 0.3;
}

.my-btn:focus-visible {
  color: inherit;
  background-color: inherit;
  outline: 0;
}

.my-btn-outline {
  --bs-btn-color: var(--daily-primary-color);
  --bs-btn-border-color: var(--daily-primary-color);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--daily-primary-color);
  --bs-btn-hover-border-color: var(--daily-primary-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: var(--black);
  --bs-btn-active-bg: var(--daily-primary-color);
  --bs-btn-active-border-color: var(--daily-primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--daily-primary-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--daily-primary-color);
  --bs-gradient: none;
}

.my-form-control {
  --bs-body-bg: var(--block-background-color);
  --bs-body-color: var(--color);
  width: calc(100% - 1.5rem);
  padding: 0.375rem 0.75rem;
}

.my-form-control:focus {
  border-color: rgb(var(--daily-primary-color));
  box-shadow: 0 0 0 0.25rem rgba(var(--daily-primary-color), 0.25);
}

.my-form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ 
  color: var(--color);
  opacity: 0.3;
  /* Firefox 
}

.my-form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 
  color: var(--color);
  opacity: 0.3;
}

.my-form-control::-ms-input-placeholder {
  /* Microsoft Edge 
  color: var(--color);
  opacity: 0.3;
}

.my-form-control.is-invalid {
  width: calc(100% - 1.5rem - 1.5rem);
}

.my-form-check-input {
  --bs-form-check-bg: var(--block-background-color);
}

.my-form-check-input:checked {
  background-color: var(--fourth-color);
  border-color: var(--fourth-color);
}

.my-form-check-input:focus {
  border-color: var(--fourth-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--fourth-color-rgb), 0.25);
}

.my-form-control:focus~label {
  color: var(--color);
  opacity: 0.65;
}

.my-form-control:focus~label::after {
  --bs-body-bg: var(--block-background-color);
} */