:root {
  --first-color: #FFB11B;
  --first-color-rgb: 255, 177, 27;
  --second-color: #A78558;
  --second-color-rgb: 167, 133, 88;
  --fourth-color: #005248;

  --background-color: #fff;
  --black: #212121;
  --white: #f0f0f0;
  --white-24dp: rgba(255, 255, 255, 0.16);
  --black-06dp: rgba(0, 0, 0, 0.11);
}

*:not(body)::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border-radius: 10px;
}

html,
body,
body>*,
main,
main>* {
  height: 100%;
  width: 100%;
}

.btn {
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: 288px;
  padding: 1rem 2rem;
  border-radius: 999px;
  box-sizing: border-box;
  transition: all .2s cubic-bezier(.48, 0, .75, .72) 0s;
  outline: 0;
  border: 0;
  font-size: 1.1rem;
}

.btn-second {
  background: var(--second-color);
  color: #fff;
}

.btn-second:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04)), var(--second-color);
}

.btn-first {
  background: var(--first-color);
  color: #fff;
}

.btn-first:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04)), var(--first-color);
}

.btn:disabled {
  opacity: 0.3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    /* --first-color: #DD6902;
    --first-color-rgb: 221, 105, 2;
    --second-color: #6E4F3A;
    --second-color-rgb: 110, 79, 58;
    --fourth-color: #003D38; 

    --background-color: var(--black);
  }
} */