.section {
  width: 100%;
}

.section:nth-child(odd) {
  background-color: var(--first-color);
  color: var(--white);
}

.section:nth-child(even) {
  background-color: var(--background-color);
  color: var(--black);
}

.section>h2 {
  text-align: center;
  font-weight: normal;
}

#cover {
  height: calc(100vh - 72px);
  padding-top: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

#cover>img {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
}

.left-block,
.right-block {
  padding: 0 32px;
  z-index: 1;
}

.left-block {
  position: absolute;
  left: calc(10vw - 32px);
  top: 20%;
  display: inline-block;
}

.left-block h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: .03em;
  line-height: 150%;
  text-align: center;
  color: var(--black);
}

.right-block {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10vw;
  position: relative;
}

.right-block>img:first-child {
  width: auto;
  height: 80%;
  -webkit-filter: drop-shadow(0 0 10px #000000a0);
  filter: drop-shadow(0 0 10px #000000a0);
  z-index: 5;
}

.right-block>img:last-child {
  width: auto;
  height: 80%;
  position: absolute;
  z-index: 4;
}

.top-btn {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .02em;
  line-height: 24px;
  padding-left: 16px;
  margin-bottom: 12px;
  opacity: 0.8;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 24px auto;
}

.table svg {
  width: 60px;
  margin-bottom: 16px;
  fill: var(--white);
}

.table.c3>div {
  padding: 24px;
  width: 26%;
  border: 1px solid #d8e3ee;
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 0 10px 30px #00000010;
}

.table h3 {
  font-size: 24px;
  font-weight: normal;
}

#functions,
.history,
.add_friend {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#functions .table {
  width: 90%;
  text-align: center;
}

#functions .table>div {
  width: 16%;
}

#functions .table>div>p {
  letter-spacing: 0.1em;
  opacity: 0.8;
}

#functions .table h3 {
  letter-spacing: 0.1em;
}

.table.center {
  justify-content: center;
}

.table.between {
  justify-content: space-between;
}

.add_friend .table {
  max-width: 1072px;
}

.history table {
  margin: 0 auto;
}

.history td {
  padding: 3vh 2vw;
  letter-spacing: 0.1rem;
}

.history td:first-child {
  border-right: 1px solid var(--white);
  border-top: 0;
  border-bottom: 0;
}

.line-btn {
  cursor: pointer;
}

@media screen and (max-width:600px) {
  #cover {
    flex-direction: column;
    height: auto;
  }

  #cover>* {
    margin: 0;
  }

  #cover>img {
    position: relative;
  }

  .left-block,
  .right-block {
    padding: 0;
  }

  .left-block {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-block h1 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: .03em;
    line-height: 150%;
    margin-bottom: 40px;
    margin-top: 64px;
  }

  .left-block a {
    margin-bottom: 40px;
  }

  .right-block {
    height: calc(80vw * (2661 / 1314) + 40px);
    width: 100%;
    overflow: hidden;
  }

  .right-block>img:first-child {
    height: auto;
    width: 80%;
  }

  .right-block>img:last-child {
    height: 100%;
  }

  #functions {
    height: auto;
  }

  #functions .table>div {
    width: 80%;
    margin-bottom: 15vh;
  }

  #functions .table>div>h3,
  #functions .table>div svg {
    margin: 0;
  }

  .add_friend .table {
    flex-direction: column;
    align-content: center;
  }

  .add_friend .table>div {
    width: 60%;
    margin-bottom: 20px;
  }

  .history table {
    width: 80%;
  }
}