.loading-outer {
    justify-content: center;
    align-items: center;
}

.loading-outer.show {
    display: flex;
}

.custom-loader {
    width: 90px;
    height: 14px;
    background:
        linear-gradient(90deg, #0000 16px, var(--daily-primary-color) 0 30px, #0000 0),
        radial-gradient(circle closest-side at 68% 50%, var(--daily-primary-color) 92%, #0000),
        conic-gradient(from 45deg at calc(100% - 7px) 50%, var(--daily-primary-color) 90deg, #0000 0),
        conic-gradient(from -135deg at 7px 50%, var(--daily-primary-color) 90deg, #0000 0);
    background-position: 0 0;
    background-size: calc(3*100%/4) 100%;
    background-repeat: repeat-x;
    animation: i9 1s infinite linear;
}

@keyframes i9 {
    100% {
        background-position: -300% 0;
    }
}