.header {
    position: fixed;
    top: 32px;
    left: 10vw;
    z-index: 99;
}

.logo {
    height: 72px;
    line-height: 72px;
    text-decoration: none;
}

.logo h1 {
    margin: 0 18px;
    color: var(--color);
    font-size: 20px;
}

@media screen and (max-width:600px) {
    .nav {
        padding: 0 16px;
    }

    .nav-item {
        margin: 0;
    }
}