.textareaComponent {
    position: relative;
}

.textareaComponent pre span {
    overflow-wrap: break-word;
    text-wrap: wrap;
}

.textareaComponent pre,
.textareaComponent textarea,
.textareaComponent br {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    outline: 0;
}

.textareaComponent pre {
    visibility: hidden;
}

.textareaComponent textarea {
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    resize: none;
    line-height: 1rem;
    outline: 0;
    font-size: 1rem;
}

.textareaComponent br {
    height: 1rem;
    width: 1rem;
}